.popoverbox {
    background-color: rgba(29, 29, 29, 0.519);
    color: rgb(246, 246, 246);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.303);
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 0;
    margin-top: .3rem;
}



.header-right-popoverbox{

    padding: .0rem .6rem .3rem;
}


.popovermenu .popover_items {
    font-size: .8rem;
    padding: .3rem 0;
}

.popovermenu .popover_items:nth-last-child(1) {
    border-bottom: 0;

}

.Header_Left_popover_items {
    font-size: .8rem;
    padding: .2rem;
    cursor: default;
}

.custom_hr {
    border-top: .1px solid rgba(161, 161, 161, 0.451);
    margin: .3rem 0;
}


.main_text_popover {
    font-weight: 600;
}

.sec_text_popover {
    font-weight: 400;
    font-size: .7rem;
    color: rgb(194, 194, 194);
}


/* left side header  ------------   */



.bright_text_popover , .dull_text_popover {
    font-weight: 600;
    font-size: .8rem;
    padding: 0 .2rem;
}

.bright_text_popover_Item:hover {
    background-color: #0565E1;
    color: white;
    border-radius: 3px;
}

.bright_text_popover_Item:hover .dull_text_popover{
    color: white;

}


.dull_text_popover {
   
    color: rgba(194, 194, 194, 0.586);
}


.firsttab-battery {
    margin-bottom: .5rem;
}



.helpSearch{
    background-color: transparent;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.443);
    width: 100%;
    padding: .3rem .2rem;
    border-radius: .3rem;
    outline: none;
        -moz-box-shadow:    inset 0 0 10px #0000003d;
        -webkit-box-shadow: inset 0 0 10px #00000045;
        box-shadow:         inset 0 0 10px #00000034;
}



/* ---------------------- */
.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    background-color: none !important;
    background: none !important;
    box-shadow: 0 !important;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    box-shadow: 0 !important;
    box-shadow: none !important;
}









/* --------------  wifi 
 */


 .wifi_symbol{
    width: 30px;
    height: 30px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: .3rem .7rem .3rem 0;
    background-color: rgba(220, 220, 220, 0.158);
 }

 .main_item_text{
    color: gainsboro;
    font-weight: 600;
    font-size: .8rem;
    margin-bottom: .2rem;
 }

 .wifi_name{
    font-size: .9rem;
    font-weight: 500;
 }


 .pref-wifi{
    background-color: #0565E1;
    color: white;
 }


.uil-wifi{
    font-size: 1.1rem;
}


 .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    color: #f7f7f7 !important;
}


.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: #41a1ff !important;
}


.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
    background-color: transparent !important;
    color: white !important;
    box-shadow: none !important;
    min-height: 1rem !important;
}

.uil-angle-down , .paracol{
    background-color: transparent !important;
    color: gainsboro !important;
   
}



.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root, .css-o4b71y-MuiAccordionSummary-content ,.css-15v22id-MuiAccordionDetails-root{
    padding: 0  !important;
    margin: 0 !important;
}


.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{
    min-height: 1px !important;
}