.docks_section .docs_items_list{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(101, 101, 101, 0.461);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(20px);
    bottom: .5rem;
    border-radius: 1rem;
    padding: .2rem .5rem;
    border: 1px solid rgba(128, 128, 128, 0.424);
    
}
.docks_section .doc_item .doc_imgs{
    width: 65px;
}

.divider_dock{
    height: 3rem;
    margin: 0 1rem;
    width: .5px;
    background-color: rgb(215, 215, 215);
}



/* bounce effect in active state */






.active::after{
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    margin: 0 auto;
   
}


/* --------------------  for bounce effect after open  */


.active .doc_imgs {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: linear;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-40px);} 
    60% {transform: translateY(-20px);} 
 } 